* {
  box-sizing: border-box;
}

.searchbar {
	
  width: 100;
  height: 20;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

input[type=text].c {
	
  position: relative;
  padding: 5px 25px 10px 15px;
  width: 20px;
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  border: solid black 1px;
  border-radius: 5px;
  transition: width 0.4s ease;
  outline: none;
}

input[type=text].c:focus {
	
  width: 300px;
}

.i1 {

  position: relative;
  left: -30px;
  color: grey;
}

.social {
	
  position: absolute;
  right: 35px;
  bottom: 35px;
}
.social img {
	
  display: block;
  width: 32px;
}
